In [32]:
import pandas as pd
from sqlalchemy import create_engine

In [33]:
engine =create_engine('postgresql://root:root@192.168.99.100:5431/ny_taxi')

In [34]:
engine

Engine(postgresql://root:***@192.168.99.100:5431/ny_taxi)

In [4]:
yellow = pd.read_csv('yellow_tripdata_2021-01.csv')

C:\Users\Pce\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [28]:
yellow.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [6]:
len(yellow)

1369765

In [7]:
yellow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369765 entries, 0 to 1369764
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1271413 non-null  float64
 1   tpep_pickup_datetime   1369765 non-null  object
 2   tpep_dropoff_datetime  1369765 non-null  object
 3   passenger_count        1271413 non-null  float64
 4   trip_distance          1369765 non-null  float64
 5   RatecodeID             1271413 non-null  float64
 6   store_and_fwd_flag     1271413 non-null  object
 7   PULocationID           1369765 non-null  int64
 8   DOLocationID           1369765 non-null  int64
 9   payment_type           1271413 non-null  float64
 10  fare_amount            1369765 non-null  float64
 11  extra                  1369765 non-null  float64
 12  mta_tax                1369765 non-null  float64
 13  tip_amount             1369765 non-null  float64
 14  tolls_amount           1369765 non-null  float64
 15  improvement_surcharge  1369765 non-null  float64
 16  total_amount           1369765 non-null  float64
 17  congestion_surcharge   1369765 non-null  float64
dtypes: float64(13), int64(2), object(3)
memory usage: 188.1+ MB

In [8]:
yellow['tpep_pickup_datetime'] = pd.to_datetime(yellow.tpep_pickup_datetime)

In [9]:
yellow['tpep_dropoff_datetime'] = pd.to_datetime(yellow['tpep_dropoff_datetime'])

In [10]:
print(pd.io.sql.get_schema(yellow, name='yellow_taxi_data',con= engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [11]:
yellow.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [20]:
yellow.head(0).to_sql(name= 'yellow_taxi_data', con= engine, if_exists='replace')

In [12]:
%time yellow.to_sql(name= 'yellow_taxi_data', con= engine,chunksize= 100000, method='multi',index= False, if_exists='replace')

KeyboardInterrupt:

In [15]:
yellow_iter = pd.read_csv('yellow_tripdata_2021-01.csv',chunksize=100000, iterator=True)

In [17]:
yell_car = next(yellow_iter)

In [19]:
len(yell_car)

100000

In [21]:
%time yell_car.to_sql(name= 'yellow_taxi_data', con= engine, if_exists='append')

Wall time: 12.6 s

In [23]:
yell_car.tpep_pickup_datetime= pd.to_datetime(yell_car['tpep_pickup_datetime'])
yell_car.tpep_dropoff_datetime= pd.to_datetime(yell_car.tpep_dropoff_datetime)

In [25]:
from time import time

In [27]:
while True:
    t_start= time()
    
    yell_car = next(yellow_iter)
    yell_car.tpep_pickup_datetime= pd.to_datetime(yell_car['tpep_pickup_datetime'])
    yell_car.tpep_dropoff_datetime= pd.to_datetime(yell_car.tpep_dropoff_datetime)
    
    
    yell_car.to_sql(name= 'yellow_taxi_data', con= engine, if_exists='append')
    
    t_end = time()
    
    print('insertig another chunk, took %.3f seconds' %(t_end - t_start))

insertig another chunk, took 13.989 seconds
insertig another chunk, took 18.640 seconds
insertig another chunk, took 18.380 seconds
insertig another chunk, took 18.419 seconds
insertig another chunk, took 13.756 seconds
insertig another chunk, took 15.548 seconds
insertig another chunk, took 15.627 seconds
insertig another chunk, took 15.263 seconds
insertig another chunk, took 15.091 seconds
insertig another chunk, took 14.135 seconds
insertig another chunk, took 13.955 seconds

C:\Users\Pce\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

insertig another chunk, took 13.236 seconds
insertig another chunk, took 10.240 seconds

StopIteration:

In [29]:
taxi = pd.read_csv("taxi+_zone_lookup.csv")

In [30]:
taxi

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [35]:
taxi.to_sql(name= 'taxi_zones', con= engine, if_exists='replace')